<app-barra-navegacion></app-barra-navegacion>
<div class="contenedorCentro">
    <div class="loginposition">
        <form class="loginformc">

            <div class="logindiv">
                <h2 class="loginp">Tu Cuenta</h2>
            </div>

            <div class="logindiv">
                <h2 class="loginp"> <br>Nombre</h2>
            </div>

            <div class="logindiv">
                <input  class="logininput" type="Nombre" name="Nombre" placeholder="Nombre">
            </div>
            
            <div class="logindiv">
                <h2 class="loginp"> <br>Apellido</h2>
            </div>

            <div class="logindiv">
                <input  class="logininput" type="Apellido" name="Apellido" placeholder="Apellido">
            </div>

            <div class="logindiv">
                <h2 class="loginp"> <br>Correo</h2>
            </div>

            <div class="logindiv">
                <input  class="logininput" type="Correo" name="Correo" placeholder="Correo">
            </div>


            <div class="logindivmc">
                <button class="loginbuttonmc" type="submit" >Subir Imagen</button> 
                <button class="loginbuttonmc" type="submit" >Guardar</button>
            </div>

        </form>
    </div>
</div>