<app-barra-navegacion></app-barra-navegacion>
<div class="contenedorCentro">
    <div class="loginposition">
        <form class="loginform">

            <div class="logindiv">
                <h2 class="loginp">Crear Curso Nuevo</h2>
            </div>

            <div class="logindiv">
                <h2 class="loginp"> <br>Nombra el nombre de tu Curso</h2>
            </div>

            <div class="logindiv">
                <input  class="logininput" type="Curso" name="Curso" placeholder="Curso">
            </div>

            <div class="logindiv">
                <button class="loginbutton" type="submit" >Crear Curso</button>
            </div>

        </form>
    </div>
</div>