<app-barra-navegacion></app-barra-navegacion>
<div class="contenedorCentro">
    <div class="loginposition">
        <form class="loginformc">

            <div class="logindiv">
                <h2 class="loginp">Modificar Entrada</h2>
            </div>

            <div class="logindiv">
                <h2 class="loginp"> <br>Titulo</h2>
            </div>

            <div class="logindiv">
                <input  class="logininput" type="Titulo" name="Titulo" placeholder="Titulo">
            </div>
            
            <div class="logindiv">
                <h2 class="loginp"> <br>Descripción</h2>
            </div>

            <div class="logindiv">
                <input  class="logininputmc" type="Desc" name="Desc" placeholder="Descripción">
            </div>


            <div class="logindivmc">
                <button class="loginbuttonmc" type="submit" >Subir Imagen</button> 
                <button class="loginbuttonmc" type="submit" >Modificar Entrada</button>
            </div>

        </form>
    </div>
</div>